<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (applicant()) {
      <div>
        <h2 data-cy="applicantDetailsHeading"><span jhiTranslate="complaintsDaApp.applicant.detail.title">Applicant</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ applicant()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="complaintsDaApp.applicant.firstName">First Name</span></dt>
          <dd>
            <span>{{ applicant()!.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="complaintsDaApp.applicant.middleName">Middle Name</span></dt>
          <dd>
            <span>{{ applicant()!.middleName }}</span>
          </dd>
          <dt><span jhiTranslate="complaintsDaApp.applicant.lastName">Last Name</span></dt>
          <dd>
            <span>{{ applicant()!.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="complaintsDaApp.applicant.email">Email</span></dt>
          <dd>
            <span>{{ applicant()!.email }}</span>
          </dd>
          <dt><span jhiTranslate="complaintsDaApp.applicant.phone">Phone</span></dt>
          <dd>
            <span>{{ applicant()!.phone }}</span>
          </dd>
          <dt><span jhiTranslate="complaintsDaApp.applicant.address">Address</span></dt>
          <dd>
            @if (applicant()!.address) {
              <div>
                <a [routerLink]="['/address', applicant()!.address?.id, 'view']">{{ applicant()!.address?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/applicant', applicant()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
