<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cbComplaintSubField()) {
      <div>
        <h2 data-cy="cbComplaintSubFieldDetailsHeading">
          <span jhiTranslate="complaintsDaApp.cbComplaintSubField.detail.title">Cb Complaint Sub Field</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ cbComplaintSubField()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="complaintsDaApp.cbComplaintSubField.complaintSubFieldName">Complaint Sub Field Name</span></dt>
          <dd>
            <span>{{ cbComplaintSubField()!.complaintSubFieldName }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/cb-complaint-sub-field', cbComplaintSubField()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
